@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://api.fontshare.com/v2/css?f[]=satoshi@300,301,400,401,500,501,700,701,900,901,1,2&display=swap');

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 6px; 
}

::-webkit-scrollbar-track {
  background: #1f1f1f; 
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #f97316, #ec4899); 
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #fb923c, #f472b6); 
}



:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Cabinet Grotesk', sans-serif;
  overflow-x: hidden;
}




/* Animazione Respiro -section music */

@keyframes pulse-soft {
  0%, 100% {
    opacity: 0.2;
    transform: scale(1);
  }
  50% {
    opacity: 0.5;
    transform: scale(1.1);
  }
}

.animate-pulse-soft {
  animation: pulse-soft 5s ease-in-out infinite;
}
